<h1>Add a new Movie</h1>

<form action="/create_movie">
  <div>
    <label for="Title">
      Title
    </label>

    <input id="Title" type="text" name="the_title">
  </div>
  
    <div>
    <label for="Year">
      Year
    </label>

    <input id="Year" type="text" name="the_year">
  </div>
  
  <div>
    <label for="Duration">
      Duration
    </label>

    <input id="Duration" type="text" name="the_duration">
  </div>
  
  <div>
    <label for="Description">
      Description
    </label>

    <input id="Description" type="text" name="the_description">
  </div>

  <div>
    <label for="Image url">
      Image URL
    </label>

    <input id="Image url" type="text" name="the_image_url">
  </div>

  <button>
    Create movie
  </button>
</form>

